<h1>新增餐廳</h1>


<form action="">
	<div>
	  <label for="">title</label>
	  <input type="text">
  </div>

  <div>
	  <label for=""></label>
	  <input type="text">
  </div>

  <div>
	  <label for=""></label>
	  <input type="text">
  </div>

  <div>
	  <label for=""></label>
	  <input type="text">
  </div>

	<div>
	  <label for=""></label>
	  <textarea name="" id=""></textarea>
  </div>

	<div>
	  <input type="submit" value="submit">
  </div>



</form>